@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --beige-color: #FAF1E6;
    --light-beige-color: #FDFAF6;
    --light-aqua: #E4EFE7;
    --green-color: #809b70;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

#main-container {
    height: 100dvh;
    display: grid;
    grid-template-columns: minmax(100px, 300px) repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(4, 1fr) 100px;
}
    
#sidebar {
    grid-row: span 5 / span 5;
    background-color: var(--green-color);
    padding: 30px;
    color: white;
}

#sidebar-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 30px;
}

#new-project-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: solid 1px white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease;
}

#new-project-container:hover {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
}

#new-project-container p:first-child {
    background-color: white;
    border-radius: 50%;
    color: var(--green-color);
    width: 20px;
    text-align: center;
    font-weight: 700;
}

#project-container {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-column: span 3;
    grid-row: span 4;
    padding: 50px;
}

#project-container h1 {
    margin-bottom: 20px;
}

.tarea {
    margin: 20px;
    margin-left: 0;
    display: grid;
    grid-template-columns: 20px 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    background-color: var(--light-aqua);
    padding: 20px;
}

.task-check-container {
    grid-row: span 2;
}

.task-check-container input[type="radio"] {
    width: 20px;
    height: 20px;
    color: var(--green-color)
}

.task-check-container input[type="radio"]:checked {
    background-color: var(--green-color)
}

.task-title-container {
    grid-column-start: 2;
    grid-column: span 1;
    display: flex;
    justify-content: space-between;
}

.task-title-container p {
    font-size: 1.3rem;
}

.task-title-container button {
    width: 30px;
    height: 30px;
    background-color: var(--green-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease;
}

.task-title-container button:hover {
    box-shadow: 0 0 3px 1px rgb(0, 0, 0);
}

.task-date-container {
    grid-column-start: 2;
    grid-row-start: 2;
}

.task-date-container p {
    font-size: 0.8rem;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    grid-column: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 5;
    color: var(--green-color)
}

#github-logo {
    height: 30px;
    padding-left: 10px;
    fill: var(--green-color);
}